<nav style="z-index: 1;" class="navbar navbar-expand-lg bg-body-tertiary position-fixed w-100">
    <div class="container-fluid">
      <a class="navbar-brand text-primary" routerLink=""><i class="fa-solid fa-cart-shopping me-2"></i><span class="fw-bolder ">Daily Cart</span></a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active d-flex" aria-current="page" href="#">
                <input style="width: 350px;" class="form-control" type="search" placeholder="Search Products!!" aria-label="Search">
          <button style="margin-left: -50px;" class="btn " type="submit"><i class="fa-solid fa-magnifying-glass"></i></button>
            </a>
          </li>
          <li class="nav-item active">
            <a class="nav-link" routerLink="user/wishlist">
                <button class="btn btn-outline-dark d-flex align-items-center"><i class="fa-solid fa-heart text-danger me-1"></i>Wishlist <span class="badge bg-dark ms-1">0</span> </button>
            </a>
          </li>
       
          <li class="nav-item active">
            <a class="nav-link" routerLink="user/cart">
                <button class="btn btn-outline-dark d-flex align-items-center"><i class="fa-solid fa-cart-plus text-success me-1"></i>Cart<span class="badge bg-dark ms-1">0</span>  </button>
            </a>
          </li>
          <li *ngIf="!loginUsername" class="nav-item active">
            <a class="nav-link" routerLink="user/login">
                <button class="btn "><i class="fa-solid fa-user "></i>Login </button>
            </a>
          </li>
          <li *ngIf="loginUsername" class="nav-item active">
            <span class="fw-bolder text-primary d-flex align-items-center" > Welcome {{loginUsername}} 
                <button (click)="logout()" class="btn btn-outline-dark d-flex align-items-center ms-2"><i class="fa-solid fa-user  me-1"></i>Logout </button></span>
           
          </li>
        </ul>
    
      </div>
    </div>
  </nav>
